<!doctype html>
<html>
  <head>
    <title>Analyze Tools for Spark Parameter Recommendation</title>
    <link rel="stylesheet" href="/static/bootstrap.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.js"></script>
    <script src="/static/d3.min.js"></script>
  </head>
  <body>
    
    <!-- start: PAGE -->
    <div class="container">

      <br/>
      
      <!-- start: FORM -->
      <div class="row">
        <form action="/analyze/spark/param_tools/submit/" method="post" class="form-inline col-md-12">
          <div class="panel panel-white">
            <div class="panel-heading">
              <h4 class="panel-title">参数推荐</h4>
            </div>

            <div class="panel-body">
              <div class="form-group">
                <label for="appid">应用程序ID</label>
                <input type="text" class="form-control" id="appid" name="appid" placeholder="app id">
              </div>
              <button type="submit" class="btn btn-info">提交</button>
            </div>
          </div>
        </form> 
      </div>
      <!-- end: FORM -->

      <!-- start: LIST TABLE -->
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-white">
            <div class="panel-heading">
              <h4 class="panel-title">推荐历史</h4>

            </div>
            
            <!-- start: PARAM RECOMD HISTORY -->
            <div class="panel-body">

              <!-- start: LIST TABLE -->
              <table class="table table-striped">
                <thead>
                  <th class="col-md-2">推荐任务ID</th>
                  <th class="col-md-2">应用程序ID</th>
                  <th class="col-md-2">开始时间</th>
                  <th class="col-md-2">结束时间</th>
                  <th class="col-md-4">推荐结果</th>
                </thead>
                <tbody>
                {% for item in items %}
                <tr>
                  <th class="col-md-2">{{ item.progressid }}</th>
                  <th class="col-md-2">{{ item.appid }}</th>
                  <th class="col-md-2">{{ item.startTime }}</th>
                  <th class="col-md-2">{{ item.endTime }}</th>
                  <th class="col-md-4">
                    {% if item.status == "finished" %}
                    <a class="btn btn-success" role="button"
                      href="/analyze/spark/param_tools/retrieve/?progressid={{ item.progressid }}">
                      查看结果
                    </a>
                    {% elif item.status == "running" %}
                    <a class="btn btn-primary disabled">运行中</a>
                    {% elif item.status == "error" %}
                    <a class="btn btn-danger" role="button" data-toggle="collapse"
                      href="#{{ item.progressid }}" aria-expanded="false"  aria-controls="{{
                      item.progressid }}">
                      运行错误
                    </a>
                    <div class="collapse" id="{{ item.progressid }}">
                      {{ item.result.errMsg }}
                    </div>
                    {% endif %}
                  </th>
                </tr>
                {% endfor %}
                </tbody>
              </table>
              <!-- end: LIST TABLE -->
            </div>
            <!-- end: PARAM RECOMD HISTORY -->
          </div>
        </div>
      </div>
      <!-- end: LIST_TABLE -->

      <!-- start: PAGINATION -->
      <nav class="row">
        <div class="col-md-12">
          <ul class="pagination">
            {% for i in range(1, pageCount + 1) %}
              {% if i != activePage %}
              <li><a href="/analyze/spark/param_tools/?startIdx={{(i - 1) * 10}}">{{ i }}</a></li>
              {% else %}
              <li class="active"><a href="/analyze/spark/param_tools/?startIdx={{(i - 1) * 10}}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </nav>
      <!-- end: PAGINATION -->

    </div>
    <!-- end: PAGE -->
    
  </body>
</html>
