<!doctype html>
<html>
  <head>
    <title>Analyze Tools for Spark Parameter Recommendation</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.6-dist/css/bootstrap.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
    <script src="/static/d3.min.js"></script>
  </head>

  <body>

    <!-- start: PAGE -->
    <div class="main-content container">

      <br>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="panel panel-primary">

            <div class="panel-heading">
              <span class="panel-title">参数优化工具</span>
              <div class="row text-right">
                <ol class="breadcrumb">
                  <li>
                    <a href="{{ config.get_recommend_progress_view_servlet_relative_url() }}">
                      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                      任务参数优化
                    </a>
                  </li>
                  <li class="active">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    优化运行记录
                  </li>
                  <li>
                    <a href="{{ config.get_historydb_view_servlet_relative_url() }}">
                      <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
                      历史数据库
                    </a>
                  </li>
                </ol>
              </div>
            </div>

            <!-- start: LIST TABLE -->
            <div class="panel-body">
              <table class="table table-hover">
                <thead>
                  <th class="col-md-3 text-center">被优化参数的任务ID</th>
                  <th class="col-md-2 text-center">开始时间</th>
                  <th class="col-md-1 text-center">运行时间/s</th>
                  <th class="col-md-2 text-center">程序输出日志</th>
                  <th class="col-md-2 text-center">运行状态</th>
                </thead>
                <tbody>
                  {% for item in items %}
                  <tr>
                    <th class="col-md-3 text-center" style="word-break: break-all;">{{ item.appid }}</th>
                    <th class="col-md-2 text-center">{{ item.startTime }}</th>
                    <th class="col-md-1 text-center">{{ item.runTimeInSec }}</th>
                    <th class="col-md-2 text-center">
                      <a href="{{config.get_run_param_log_servlet_absolute_url()}}?filePrefix={{item.filePrefix}}">点击查看</a>
                    </th>
                    {% if item.succeed == "UNDEFINED" %}
                      <th class="col-md-2 text-info text-center">运行中</th>
                    {% elif item.succeed == "SUCCEED" %}
                      <th class="col-md-2 text-success text-center">运行成功</th>
                    {% else %}
                      <th class="col-md-2 text-danger text-center">运行失败</th>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- end: LIST_TABLE -->


            <div class="panel-footer"><!-- start: panel-footer -->
              <div class="row"> <!-- start: PAGINATION -->
                <nav class="col-md-6 col-md-offset-3 text-center">
                  <ul class="pagination">
                    {% if activePage != 1 %}
                    <li>
                      <a href="{{ config.get_run_param_history_servlet_relative_url() }}?pageIdx={{activePage - 1}}"
                         aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    {% endif %}

                    {% for i in pageRange %}
                    {% if i != activePage %}
                    <li>
                      <a href="{{ config.get_run_param_history_servlet_relative_url() }}?pageIdx={{i}}">{{ i }}</a>
                    </li>
                    {% else %}
                    <li class="active">
                      <a href="{{ config.get_run_param_history_servlet_relative_url() }}?pageIdx={{i}}">{{ i }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    {% if activePage != pageCount %}
                    <li>
                      <a href="{{ config.get_run_param_history_servlet_relative_url() }}?pageIdx={{ activePage + 1 }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                    {% endif %}
                  </ul>
                </nav>
              </div><!-- end: PAGINATION -->
            </div><!-- end: panel-footer -->

          </div>
        </div>



      </div>

    </div>
    <!-- end: PAGE -->

  </body>
</html>